/*General*/
.clear { clear: both; }
/*LP Boxes*/
.lpboxes { padding:0; margin: 0; clear: both; overflow: hidden; min-width: 0px; max-height: auto; }
.lpboxes fieldset { padding: 3px; margin: 0 0 5px 0; border: 1px solid #ddd; display: block; clear: both; background: #ffffff; padding: 10px; }
#poststuff .lpboxes h3 { background: none; margin: 15px 0 0 0; float: left; clear: both; padding: 5px; background: #ddd; width: 100%; }
.lpboxes label { display: block; float: left; width: 100px; margin: 5px auto; padding: 3px 0 0 0; clear: both; cursor: default; }
.lpboxes label span { font-size: 9px; }
.lpboxes input[type="text"]{ display: block; min-width: 75%; margin: 5px 0 0 0; }
.lpboxes select { display: block; padding: 3px; margin: 5px 0 0 0; }
.lpboxes textarea { display: block; width: 75%; height: 100px; margin: 5px 0 0 0; }
.lpboxes #editorcontainer textarea { width: 100%; }
.lpboxes #quicktags #ed_toolbar { display: none; }
/*Sections*/
.sections_wrap { background-color: #ffffff; border: 1px solid #ccc; padding: 10px; margin: 15px 0; }
.sections_wrap > h3 { margin: -10px -10px 10px -10px !important; cursor: default !important; }
.section { margin: 10px 0; }
.section > fieldset { padding: 10px; background-color: #f9f9f9; }
.section > h3 { margin: 0 !important; }
.section select { width: 75%; }
.section .wp-editor-wrap { clear: both; }
/*Sub Sections*/
.sub_sec_wrap { border: 1px solid #ccc; clear: both; overflow: hidden; margin-top: 20px; background-color: #ffffff; }
.sub_sec_wrap > h3 { margin: 0 !important; width: 100%; cursor: default !important; }
.sublinks { clear: both; margin: 40px 10px 10px 10px; display: block;  }
.sublinks li { margin-right: 10px !important; float: left; cursor: pointer; }
.sub_sec_wrap div.sub-section { margin: 10px; }
.sub_sec_wrap div.sub-section div label { cursor: pointer !important; }
.sub-section { width: 250px; float: left; margin: 10px 10px 0 0; border: 1px solid #ddd; padding: 5px; background-color: #f9f9f9; }
.sub-section h3 { cursor: default !important; margin: -5px 0 15px -5px !important; width: 100%; }
.sub-section label { float: none; margin: 0 0 0 3px; cursor: default; }
.sub-section input[type="text"] { width: 100%; }
.sub-section select { width: 100%; }
.sub-section textarea { width: 100%; }
.textvid { height: 40px !important; }
/*Link Boxes*/
.link_box_wrap { background-color: #ffffff; border: 1px solid #ccc; padding: 10px; margin: 15px 0 0 0; }
.link_box_wrap > h3 { margin: -10px -10px 10px -10px !important; cursor: default !important; }
.linkbox { margin: 10px 0; }
.linkbox fieldset { background-color: #f9f9f9; padding: 10px; }
.linkbox > h3 { margin: 0 !important; }
.remove_linkbox, .remove_section, .remove_dualform { cursor: pointer; float: right; margin-top: 10px !important; }
/*Form*/
#subform_dualxml {  }
#subform_dualxml h3 { cursor: pointer; display: inline-block; margin: 15px 0 -1px 0 !important }
#subform_dualxml fieldset { padding: 10px; background-color: #f9f9f9; }
.fromlinks { clear: both; margin: 10px; display: block;  }
.formlinks li { margin-right: 10px !important; float: left; }
h3#toggle_xml { float: none !important; }
#subform_xml { border: 1px solid #ccc; background-color: #f9f9f9; border: 1px solid #ccc; margin: 15px 0; overflow: hidden; }
#subform_xml > h3 { margin: 0 0 10px 0 !important; cursor: default !important; width: 100% }
#dualxml_add { cursor: pointer; margin-top: 15px; }
/*Hidden*/
.hidden_lp, .hidden_section, .hidden_sub_section, .hidden_xml { display: none; }